*.tlog
*.suo
*.idb
*.pdb
*.exe
*.recipe
*.sln
*.sln.Dotsettings.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.xml
.vs/*
/VulkanRenderer/x64/*
/.idea/*
**/build/*
**/cmake-build-debug/*
**/cmake-build-release/*